/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #15304c;
  --text-color: white;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg-color);
  height: 70px;
}
.logo {
  flex-grow: 1;
}
.logo img {
  width: 200px;
  margin-left: 20px;
}

nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}
nav li a {
  color: var(--text-color);
  text-decoration: none;
}

.menu-icon {
  display: none;
  margin-right: 30px;
}

.welcome {
  background: url("./images/background.webp");
  min-height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
}
